<table class="table table-striped">
  <thead>
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td><button type="button" class="btn btn-primary">View</button></td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td><button type="button" class="btn btn-primary">View</button></td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td><button type="button" class="btn btn-primary">View</button></td>
        </tr>
      </tbody>
</table>
